@use './../../helpers/inverters' as *;

.Events_Title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    padding-top: 30px;
    text-align: center;

    span {
        color: rgba(black, 0.4);
        font-family: "Kanit", sans-serif;
    }

    p {
        font-family: 'Architects Daughter', 'cursive';
        font-size: 35px;
        color: $BaseColor;
    }
}

.Events {
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.swiper {
    height: 590px;
}