@use './../../../helpers/inverters' as *;

.UpdatePersonalinfromationDrobBox {
    background-color: rgba(black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 31;

    .UpdatePersonalinfromation {
        border: solid white 1px;
        width: 800px;
        height: max-content;
        background-color: white;
        border-radius: 20px;

        .ListOfPersonalUpdate {
            span {
                background-color: $BaseColor;
                color: white;
                width: 150px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                @include linear(0.5s, linear, all);
                cursor: pointer;

                @include Breakpoints(small) {
                    width: 90%;
                }

                @include Breakpoints(mobile) {
                    width: 95%;
                }

                &:hover {
                    background-color: $HoverColor;
                }
            }
        }

        .FormUpdate {
            span {
                background-color: $BaseColor;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                height: 35px;
                width: 35px;
                border-radius: 10px;
                @include linear(0.5s, linear, all);
                cursor: pointer;

                &:hover {
                    background-color: $HoverColor;
                }
            }
        }

        @include Breakpoints(small) {
            width: 80%;
            height: max-content;
            padding: 50px !important;
        }

        @include Breakpoints(mobile) {
            width: 90%;
            height: max-content;
            justify-content: center !important;
            align-content: center !important;
        }

        >svg {
            position: absolute;
            right: 7px;
            top: 9px;
            width: max-content;
            font-size: 27px;
            cursor: pointer;

            &:hover {
                color: $BaseColor;
            }
        }


        input[type="submit"] {
            @include FormSubmit();
            @include linear(0.5s, linear, all);
            width: 60%;
            margin: auto;
            border: none;

            &:hover {
                transform: none;
                background-color: $HoverColor;
            }
        }

        textarea {
            resize: none;
        }
    }
}